.containerDetail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    margin: 20px auto;
    font-size: 12px;
    background-color:  rgb(215, 208, 208);
    color: black;
    border-radius: 3px;
}

.containerDetail img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 40%;
    height: 40%;
    border-radius: 5px;
}

.itemDetails{
    display: flex;
    justify-content: center;
    width: 100%;
}