.container-widget {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
.container-widget p{
    font-size: 20px;
    margin-left: 5px;
}

