/* .contenedorLista{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 255%;
}

.cardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(226, 204, 204, 0.603);
    padding: 15px;
    margin: 5px auto;
    box-shadow: 2px 1px 1px #474747b2;
    border-radius: 5px;
}
.imageCard {
    width: 80%;
    height: auto;
    padding: 5px;
    display: flex;
    justify-content: center;

}

.imageCard img {
    width: 100%;
    height: 270px;
    margin: auto;
    border-radius: 15px;
}

.detailsCard {
    width: 80%;

}

.detailsCard h5 {
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
} */

.containerCard{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px;
    height: auto;

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 10px;
    height: auto;
    background-color: rgb(153, 159, 153);
    border-radius: 10px;


}

.card .imagen{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagen img{
    width: 250px;
    height: 250px;
    margin: auto;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;

}