header {
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 3px 3px 3px rgba(110, 107, 107, 0.781);
}

.img-logo img {
    width: 130px;
    height: 90px;
    padding: 5px;
}

nav {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

nav ul {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    height: 80px;
}

nav ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin: 25px;
    width: 10%;

}

nav ul li a {
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 2px;
    border-radius: 5px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 5px auto;

}

body {
    background-color: rgb(236, 233, 233);

}






