.ListGroup {
    display: flex;
    width: 100%;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin:10px auto;

}
